@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #ffd9de;
  display: flex;
  justify-content: center;
}

.box {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
}

.top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #95ecff;
}

.top_right {
  display: flex;
  align-items: center;
}

.middle {
  margin-top: 10px;
}

.add_task {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.input {
  width: 100%;
}

.add_button {
  all: unset;
  cursor: pointer;
  background-color: #95ecff;
  padding: 4px 10px;
  color: white;
  font-weight: bold;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tasks input {
  display: none;
}

.tasks input:checked ~ label:after {
  content: '✓';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: line-through;
}

.task input:checked ~ span {
  text-decoration: line-through;
}

.delete-button {
  all: unset;
  cursor: pointer;
  background-color: #95ecff;
  padding: 4px 10px;
  color: white;
  font-weight: bold;
}

label {
  position: relative;
  display: inline-block;
  border: 2px solid #95ecff;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.bottom {
  margin-top: 10px;
  border-top: 1px solid #95ecff;
}
